	<header id="oil-nav" class="navbar">
			<nav class="navbar-inner">

				<div class="logo-header">
					<a href="http://lab.fiware.org" class="brand">
						<img alt="FI-LAB" class="filab-logo" src="{{ STATIC_URL }}assets/img/Fi-lab-Logo.png">
					</a>
				</div>
				<div class="dropdown mobile visible_phone">
					<a href="#" class='dropdown-toggle' data-toggle="dropdown">
						<i class='arrow-down-settings'></i> 
					</a>
					<ul class="dropdown-menu dropdown-menu-header">
						<li class="cloud">
							<a href="http://cloud.lab.fiware.org/">
								Cloud
							</a>
						</li>
						<li class="store">
							<a href="http://store.lab.fiware.org/">
								Store
							</a>
						</li>
						<li class="wirecloud">
							<a href="http://mashup.lab.fiware.org/">
								Mashup
							</a>
						</li>
						<li class="idm">
							<a href="https://account.lab.fiware.org/">
								Account
							</a>
						</li>
						<li class="sla active">
							<a href="https://sla.lab.fiware.org/">
								SLA
							</a>
						</li>
						<li class="info">
							<a href="http://lab.fiware.org/">
								Help&amp;info
							</a>
						</li>
					</ul>
				</div>

				<ul class="oil-portal hidden-phone">
					<li class="cloud">
						<a href="http://cloud.lab.fiware.org/">
							Cloud
						</a>
					</li>
					<li class="store">
						<a href="http://store.lab.fiware.org/">
							Store
						</a>
					</li>
					<li class="wirecloud">
						<a href="http://mashup.lab.fiware.org/">
							Mashup
						</a>
					</li>
					<li class="idm">
						<a href="https://account.lab.fiware.org/">
							Account
						</a>
					</li>
					<li class="sla active">
						<a href="https://sla.lab.fiware.org/">
							SLA
						</a>
					</li>
					<li class="help-info">
						<a href="http://lab.fiware.org/">
							Help&amp;info
						</a>
					</li>
				</ul>

				<ul class="nav pull-right">
					{% if user.is_authenticated %}
					<li>
						<a href="#">
							<img class="oil-usr-icon" src="{{ STATIC_URL }}oil/img/user.png">
							<span id="oil-usr" class="name"> {{ user.username }}</span>
						</a>
					</li>

					<li class="dropdown">
						<a href="#" class='dropdown-toggle' data-toggle="dropdown">
							<i class='arrow-down-settings'></i> 
						</a>

						<ul class="dropdown-menu"  id="settings-menu">
							<li class="settings-menu">
								<a id="conf-link">
									Settings
								</a>
							</li>

							<li class="divider">
							</li>

							<li>
								<!--<a href="#" onclick="Fiware.signOut('store'); return false">-->
								<a href="/slagui/logout">
									Sign Out
								</a>
							</li>
						</ul>
					</li>
					{% endif %}
				</ul>
			</nav>

		</header>
