{% extends "index.html" %}

{% block head %}
		<script>
			//Regular pie chart example
			nv.addGraph(function() {
				var chart = nv.models.pieChart()
					.x(function(d) { return d.label })
					.y(function(d) { return d.value })
					.showLabels(true);
			
				d3.select("#chart svg")
					.datum(addData())
					.transition().duration(350)
					.call(chart);
			
				return chart;
			});
		
			
			//Pie chart example data. Note how there is only a single array of key-value pairs.
			function addData() {
				return {{ violations_pie_chart|safe }};
			}
			
			nv.addGraph(function() {
				var chart = nv.models.linePlusBarChart()
					.margin({top: 30, right: 60, bottom: 50, left: 70})
					.x(function(d,i) { return i })
					.y(function(d) { return d[1] })
					.color(d3.scale.category10().range())
					;
				
				chart.xAxis
					.showMaxMin(false)
					.tickFormat(function(d) {
						var dx = data[0].values[d] && data[0].values[d][0] || 0;
						return d3.time.format('%x')(new Date(dx))
					});
				
				chart.y1Axis
					.tickFormat(d3.format(',f'));
				
				
				d3.select('#chartomer svg')
				  .datum(data)
				  .transition().duration(500)
				  .call(chart)
				  ;
				
				nv.utils.windowResize(chart.update);
				
				return chart;
			});
		</script>
{% endblock head %}

{% block content %}
			{% load sla_filter %}
			<div class="span5">
				<h3 style="color: #0088cc;">Monitoring Agreement detail</h3>
			
				<div id="context">
					<dl class="dl-horizontal">
						{# Sanity default: if dd is empty, the values are permutated #}
						<dt style="color: #0088cc;">Agreement Id</dt>
							<dd>{{agreement.agreement_id|default:"&nbsp;"}}</dd>
						<dt style="color: #0088cc;">Provider</dt>
							<dd>{{agreement.context.provider|default:"&nbsp;"}}</dd>
						<dt style="color: #0088cc;">Consumer</dt>
							<dd>{{agreement.context.consumer|default:"&nbsp;"}}</dd>
						<dt style="color: #0088cc;">Service</dt>
							<dd>{{agreement.context.service|default:"&nbsp;"}}</dd>
						<dt style="color: #0088cc;">Expiration time</dt>
							<dd>{{agreement.context.expirationtime|default:"&nbsp;"}}</dd>
						<dt style="color: #0088cc;">Guarantee status</dt>
							<dd>{{status.guaranteestatus|default:"&nbsp;"}}</dd>
						<dt style="color: #0088cc;">Template details</dt>
							<dd><a href="{% url 'template_details' agreement.context.template_id %}">Template details..</a></dd>
					</dl>
					<style>
						#chart svg {
							height: 400px;
						}
					</style>
					<div id="chart">
						<svg></svg>
					</div>
			
					<style>
						#chartomer svg {
							height: 400px;
						}
					</style>
			
					<div id="chartomer">
					  <svg></svg>
					</div>
			
				</div>
			
			</div>
			
			<div class="span8">
				<h3 style="color: #0088cc;">Guarantee Terms</h3>
				
				<div id="properties_summary">
					<table class="table">
						<tr>
							<th>#</th>
							<th>Metric name</th>
							<th>Bounds</th>
							<th># violations</th>
						</tr>
				
						{% for tname, t in agreement.guaranteeterms.items %}
						<tr class="{{t.statusclass}}">
							<td>{{forloop.counter}}</td>
							<td>{{t.servicelevelobjective.kpiname | humanReadableMetric:"True"}}</td>
							<td>({{t.servicelevelobjective.bounds.0}}, {{t.servicelevelobjective.bounds.1}})</td>
							<td><a href="{%url 'agreement_term_violations' agreement.agreement_id t.name%}">{{t.nviolations}}</a></td>
						</tr>
						{% empty %}
						{% endfor %}
					</table>
				</div>
			
				<h3 style="color: #0088cc;">Violations per date</h3>
				<div id="violations_summary_by_date">
					<table class="table">
						<tr>
							<th>#</th>
							<th>Date</th>
							<th># violations</th>
						</tr>
				
						{% for date, violations in violations_by_date %}
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{date|date}}</td>
							<td>{{violations|length}}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			
				<a href="{{backurl}}" class="btn btn-default btn-back">Back</a>
			</div>
{% endblock content %}

{% block end %}
{% endblock end %}
